<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    <link rel="icon" href="res/icon.png">
    <link rel="stylesheet"  href="/css/styles.css">
    
  </head>
<body>
<div class="main-content">
 {{>header}}
 <p>this site uses data from darksky api and  mapbox api</p>
 <img  class="portrait" src="res/i.png">
</div>

  <h5> {{>footer}}</h5>
</body>
  </html>