<!DOCTYPE html>
<html>
  <head>
     <title>Help</title>
    <link rel="icon" href="res/icon.png">
    <link rel="stylesheet"  href="/css/styles.css">
  </head>
<body>
  <div class="main-content">

     {{>header}}  
   <p>
     {{pstring}} 
 </p> 
  </div>

 <h5> {{>footer}}</h5>
</body>
  </html>